<% layout('layout/boilerplate') %>
<h1>Historic Sites of the 7th Ward</h1>
<div class="mb-3">
	<a href="/historicsites/new">Add New Site</a>
</div>



<div class="row row-cols-1 row-cols-md-3 g-4">
	<% for (let historicsite of historicsites) { %>
	<div class="col">
		<div class="card h-100">

			<% if (historicsite.image.length) { %>
			<img src="<%= historicsite.image[0].url %>" alt="Responsive image" class="card-img-top" alt="...">
			<% } else { %>
			<img src="https://res.cloudinary.com/dgmbzj4cy/image/upload/v1651557417/MUSA-611-7th-Ward/walkingtour2_lo9gml.png" class="card-img-top" alt="...">
			<% } %>


			<div class="card-body">
				<h5 class="card-title"><%= historicsite.name %></h5>
				<h5 class="card-text"><%= historicsite.address %></h5>

				<% if (historicsite.description.length) { %>
				<p class="card-text"><%= historicsite.description[0].slice(0, 300) %> ...</p>
				<% } else {%>
				<p class="card-text">Add story ...</p>
				<% } %>


				<% if (historicsite.people.length) { %>
				<span class="text-muted">Associated with: </span>
				<p>
					<% for (people of historicsite.people) { %> 
					<span class="badge bg-secondary"><%= people %></span>
					<!-- <small><%= people %> </small> -->
					<% } %>
				</p>
				<% } %>

				<a href="/historicsites/<%= historicsite._id %>" class="btn btn-primary">View <%= historicsite.name %></a>

			</div>
			<div class="card-footer">
				<small class="text-muted">Last updated 3 mins ago</small>
			</div>
		</div>
	</div>

	<% } %>
</div>
