<% layout('layout/boilerplate') %>



<div class="row">
	<div class="col-6 mb-3">

		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 30rem;">
			<div class="carousel-inner">
				<% historicsite.image.forEach((img, i) => { %>
				<div class="carousel-item <%= i === 0 ? 'active' : '' %>">
					<img src="<%= img.url %>" class="d-block w-100" alt="...">
				</div>
				<% }) %>
			</div>
			<% if (historicsite.image.length > 1) { %>

			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
			<% } %>
		</div>

		<div class="card" style="width: 30rem;">
			<div class="card-body">
				<h5 class="card-title"><%= historicsite.name %></h5>
				<% if (historicsite.people.length) { %>
				<p class="card-text"> Associated with: 
					<% for (p of historicsite.people) { %>
					<span class="badge bg-secondary" style="font-size:0.9rem;"><%= p %></span>

					<% } %>
				</p>
				<% } %>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-muted"><%= historicsite.address %></li>
				<% for (let para of historicsite.description) { %>

				<li class="list-group-item text-muted">
					<small><%= para %></small>
				</li>

				<% } %>
			</ul>
			<div class="card-body">
				<a href="/historicsites/<%= historicsite._id %>/edit" class="card-link btn btn-info">Edit</a>
				<form class="d-inline" action="/historicsites/<%= historicsite._id%>?_method=DELETE" method="POST">
					<button class="btn btn-danger">Delete</button>
				</form>

			</div>
			<div class="card-footer text-muted">
				<a href="/historicsites">All Historic Sites</a>
			</div>
		</div>

	</div>



	<div class="col-6 ps-5 mb-3">
		<div id='map' style='width: 40rem; height: 300px;' class="mb-3"></div>

		<form action="/historicsites/<%= historicsite._id%>/memories" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
			<h3 class="mt-3">Leave a Memory</h3>
			<div class="mb-3 mt-3">

				<label for="title" class="form-label">Title</label>
				<input type="text" class="form-control" id="title" name="memory[title]" required>
				<div id="title" class="form-text">Think of a title of your story with the site.</div>
				<div class="invalid-feedback">
					Title can't be empty.
				</div>

			</div>
			<div class="mb-3">
				<label for="story" class="form-label">Story</label>
				<textarea name="memory[story]" id="story" cols="30" rows="3" class="form-control" required></textarea>
				<div id="story" class="form-text">Tell people your story with the site.</div>
				<div class="invalid-feedback">
					Story can't be empty.
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label">Choose Image(s)</label>
				<div class="form-file custom-file">
					<input class="form-control custom-file-input" type="file" id="image" name="image" multiple onchange="previewMultiple(event)">
					<label for="image" class="form-label custom-file-label mt-2" style="font-size: 0.8rem"></label>
				</div>
				<div id="formFile"></div>
			</div>
			<button class="btn btn-success">Post</button>
		</form>

		<% for (let memory of historicsite.memories) { %>
		<div class="card mb-3 mt-3">
			<div class="card-body">
				<h5 class="card-title">Title: <%= memory.title %></h5>
				<p class="card-text">Memory: <%= memory.story %></p>
				<div>
					<% for(let img of memory.image) { %>
					<img src="<%= img.url %>" class="w3-hover-opacity" alt="..." height="200" width="auto" onclick="onClick(this)">
					<% } %>
				</div>




				<form action="/historicsites/<%= historicsite._id %>/memories/<%= memory._id %>?_method=DELETE" method="POST">
					<button class="btn-sm btn-danger mt-3">Delete</button>
				</form>
			</div>

		</div>
		<center>
			<div id="modal01" class="w3-modal w3-animate-zoom"  onclick="this.style.display='none'">
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div>
					<img id="img01" class="w3-modal-content center" style="width:50%">
				</div>
			</div>
		</center>
		<% } %>



	</div>

</div>


<script>

	const mapToken = '<%- process.env.MAP_BOX_TOKEN %>';
	const historicsite = <%- JSON.stringify(historicsite) %>;
	const arrayOfDocsHist = <%- JSON.stringify(arrayOfDocsHist) %>;






</script>
<script type="text/javascript" src="/js/showPageMap.js"></script>
<script>
	function onClick(element) {
		document.getElementById("img01").src = element.src;
		document.getElementById("modal01").style.display = "block";
	}
</script>

